1. Write a Python program that takes a list of integers and uses map() to square
each number.

In [1]:
numbers=[1,4,6,8,32]
square=list(map(lambda number:number**2,numbers))
print(square)

[1, 16, 36, 64, 1024]

2.Create a program that converts a list of Celsius temperatures into
Fahrenheit using the formula (Celsius * 9/5) + 32 with map().

In [8]:
temp_in_c=[35,37,39,23,45,17]
convert_into_f=lambda Celcius:(Celcius * 9/5) + 32 
temp_in_f=list(map(convert_into_f,temp_in_c))
print(temp_in_f)

[95.0, 98.6, 102.2, 73.4, 113.0, 62.6]

3.Develop a code snippet that capitalizes the first letter of each word in a list
of strings using map().

In [16]:
letters=['hero', 'chameli','pawan','sherawat','bahubali']
capitalized_letters=list(map(lambda word:word.capitalize(),letters))
print(capitalized_letters)

['Hero', 'Chameli', 'Pawan', 'Sherawat', 'Bahubali']

Filter

4. Construct a program that filters out all the even numbers from
a list of integers using filter().

In [18]:
integers=[22,10,5,6,7,9,8]
new_numbers=list(filter(lambda n:n%2==0, integers))
new_numbers

[22, 10, 6, 8]

5. Write a Python script that extracts all the vowels
from a list of characters using filter().

In [33]:
characters=['a','b','e','n','m','i','p','u']
vowels=lambda vowel:vowel.lower() in 'aeiou'
print(list(filter(vowels,characters)))

['a', 'e', 'i', 'u']

6. Create a function that filters out all the
words containing less than 5 characters from a list of strings using filter().

In [36]:
t_series=['haiwan','netflix','om','jay','heeiye','hawa']
filtered_words=list(filter(lambda word:len(word)<5,t_series))
filtered_words

['om', 'jay', 'hawa']

7. Implement a program that calculates the product of all
numbers in a list using the reduce() function

In [45]:
from functools import reduce
j_pai_tei=[7,5,3,10,1,3]
product=(reduce(lambda x,y: x * y, j_pai_tei))
product

3150

 8. Develop a Python script that finds
the maximum element from a list of integers using reduce().

In [49]:
from functools import reduce
elements=[34,87,56,77,11,55,22,43]
max_element=reduce(lambda x,y:x if x>y  else y, elements)
max_element

87

9. Write a function that
concatenates a list of strings into a single string using the reduce() function.

In [59]:
from functools import reduce
letters=['do','your','homework']
concated=reduce(lambda x,y:x+y+".", letters)
concated

'doyour.homework.'

COmbined : map,filter,reduce

10. Create a program that uses map() to square each
number in a list, then filters out numbers greater than 10 using filter().

In [63]:
numbers=[1,2,5,3,4,7]
square=list(map(lambda x:x**2,numbers))
new_filter_num=list(filter(lambda x:x>10,square))
new_filter_num

[25, 16, 49]

11. Develop
a Python script that doubles each number in a list using map(), then finds the sum
of these doubled values using reduce().

In [66]:
from functools import reduce
numbers=[1,2,5,3,4,7]
double=list(map(lambda x:x*2,numbers))
sum=reduce(lambda x,y:x+y,double)
sum

44

12. Write a program that converts a list of
Celsius temperatures to Fahrenheit, filters out temperatures below 80Â°F, and then
computes the average of the remaining temperatures.

In [72]:
temp_in_c=[35,37,39,23,45,17]
convert_into_f=lambda Celcius:(Celcius * 9/5) + 32 
temp_in_f=list(map(convert_into_f,temp_in_c))
temp_b=list(filter(lambda x:x<80 , temp_in_f))
temp_b

[95.0, 98.6, 102.2, 73.4, 113.0, 62.6]

[73.4, 62.6]

Complex Questions

13. Given a list of strings, write a program that calculates the total
length of all strings using the reduce() function.

In [82]:
from functools import reduce

list_of_strings = ['hello', 'myworld', 'amazon', 'nile']

# Use reduce to calculate the total length of all strings
total_length_of_strings = reduce(lambda initial,x: initial + len(x), list_of_strings,0)

print(total_length_of_strings)

22

 14. Build a function that filters out
integers from a list of mixed data types using filter(), then squares all the remaining
numbers using map().

In [88]:
data=('iost',33.33,3,4,2,77.003,7,'hawa','tal','5')
def filter_and_square(data):
    integers=list(filter(lambda x:isinstance(x,int),data))
    square=list(map(lambda x:x**2 , integers))
    return square

result=filter_and_square(data)
print(result)

[9, 16, 4, 49]

15. Create a program that combines map(), filter(),
and reduce() to find the average length of words in a list of strings with more than
four characters.

In [97]:
from functools import reduce

words = ('ambition', 'mildajabari', 'mahakali', 'tutu', 'mimi', 'bhakundo', 'ram', 'toyota')

def avg_length(words):
    more_words = filter(lambda x: len(x) > 5, words)
    
    length = list(map(lambda word: len(word), more_words))
    
    total_length = reduce(lambda x, y: x + y, length)
    
    num_words = len(length)
    
    average = total_length / num_words if num_words > 0 else 0
    
    return average

result = avg_length(words)
print(result)

8.2