<a href="https://colab.research.google.com/github/Prensu/Data_Science_Prensu/blob/main/class_and_object.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
class Car:
  def __init__(self,make,model,year):
    self.make=make
    self.model=model
    self.year=year

  def display_info(self):
      return f"{self.year} {self.make} {self.model}"

In [7]:
car1=Car("BYD","CHINA",2023)
car2=Car("Tata","India",2023)

In [9]:
print(car1.display_info())
print(car2.display_info())

2023 BYD CHINA
2023 Tata India

Create a class Company that initializes the attributes employee_name, employee_salary in the _init_ function.
Create a class function get_emp_detail that stores the employee's record in the form of
"Employee name is {{employee_name}} and the salary is {{employee_salary}}"
Define another method salary_after_tax_cut which takes the employee's salary and cuts 13% from it and returns Salary after tax cut: {self.new_salary}

In [ ]:
class Company:
  def __init__(self,employee_name,employee_salary):
    self.employee_name=employee_name
    self.employee_salary=employee_salary

    def get_emp_detail(self):
      return f"Employee name is {self.employee}"and the salary is {employee_salary}

    def salary_tax_cut(self):

[Task] Create a class called Student with attributes name, age, and marks. Write a method within the class called has_distinction that checks if a student has passed with distinction based on their marks. If the mark is greater than or equal to 80, the method should return a congratulatory message mentioning the student's name and the fact that they passed with distinction. Otherwise, it should return a message addressing the student by name and wishing them better luck next time for achieving the distinction.

In [17]:
class student:
  def __init__(self,name,age,marks):
    self.name=name
    self.age=age
    self.marks=marks

  def has_distinction(self):
    if self.marks>=80:
      return f"congratulations {self.name} on receiving distinction"
    else:
      return f" {self.name} , you done progress but better luck next time for achiving distinction!"

student1=student("John",20,90)
print(student1.has_distinction())

congratulations John on receiving distinction

Create a class named "Mountain" with attributes for "name", "elevation", and "range". Include a method to display all the details of the mountain.

Develop a class called "Festival" with attributes for "name", "region", and "significance". Implement a method to display the festival details.

Design a class named "River" with properties like "name", "length", and "origin". Integrate a method to exhibit the river's information.

Craft a class titled "TrekkingRoute" with characteristics such as "name", "region", and "difficulty". Introduce a method to present the details of the trekking route.

Establish a class named "City" with attributes for "name", "population", and "landmarks". Construct a method to exhibit all the particulars of the city.

In [19]:
class Mountain:
  def __init__(self,name,elevation,range):
    self.name=name
    self.elevation=elevation
    self.range=range

  def display_info(self):
    print(f"Name: {self.name}")
    print(f"Elevation: {self.elevation}")
    print(f"Range: {self.range}")

mountain1=Mountain("Mount Everest",8848,"Nepal")
mountain2=Mountain("Mount k2",8600,"Pakistan")
mountain1.display_info()
mountain1.display_info()

Name: Mount Everest
Elevation: 8848
Range: Nepal
Name: Mount Everest
Elevation: 8848
Range: Nepal

In [22]:
class Festival:
  def __init__(self,name,region,significance):
    self.name=name
    self.region=region
    self.significance=significance

  def display_info(self):
    print(f"Name: {self.name}")
    print(f"Region: {self.region}")
    print(f"Significance: {self.significance}")

fes1=Festival("mhapuja","newars","Very very significant because it teaches self love ! Its festival in which we worship our body")
fes2=Festival("yomari","newars","creates togetherness and we eat yomaries and also ask yomaries from whole villages ! ")
fes1.display_info()
fes2.display_info()

Name: mhapuja
Region: newars
Significance: Very very significant because it teaches self love ! Its festival in which we worship our body
Name: yomari
Region: newars
Significance: creates togetherness and we eat yomaries and also ask yomaries from whole villages !

In [27]:
class River:
  def __init__(self,name,length,origin):
    self.name=name
    self.length=length
    self.origin=origin

  def River_info(self):
    print(f"Name: {self.name}")
    print(f"Length: {self.length}")
    print(f"Origin: {self.origin}")

river1=River("Nile",6500,"Egypt")
river2=River("Amazon",4500,"South America")
river3=River("Bagmati",900,"nepal")
river1.River_info()

river2.River_info()

river3.River_info()

Name: Nile
Length: 6500
Origin: Egypt
Name: Amazon
Length: 4500
Origin: South America
Name: Bagmati
Length: 900
Origin: nepal

In [29]:
class Trekking_Route:
  def __init__(self,name,region,difficulty):
    self.name=name
    self.region=region
    self.difficulty=difficulty

  def trek_info(self):
    print(f"Name: {self.name}")
    print(f"Region: {self.region}")
    print(f"Difficulty: {self.difficulty}")

trek1=Trekking_Route("Mount annarpurna","pokhara","Easy")
trek2=Trekking_Route("Mount kailash","manang","Very Hard")
trek3=Trekking_Route("Mount makalu","makalu","medium")
trek1.trek_info()
trek2.trek_info()
trek3.trek_info()

Name: Mount annarpurna
Region: pokhara
Difficulty: Easy
Name: Mount kailash
Region: manang
Difficulty: Very Hard
Name: Mount makalu
Region: makalu
Difficulty: medium

In [30]:
class city:
  def __init__(self,name,population,landmarks):
    self.name=name
    self.population=population
    self.landmarks=landmarks

  def city_info(self):
    print(f"Name: {self.name}")
    print(f"Population: {self.population}")
    print(f"Landmarks: {self.landmarks}")


city1=city("newyork",8.6,"empire state building")
city2=city("paris",2.1,"eiffel tower")
city3=city("kathamndu",8.9,"dharahara")
city1.city_info()
city2.city_info()
city3.city_info()

Name: newyork
Population: 8.6
Landmarks: empire state building
Name: paris
Population: 2.1
Landmarks: eiffel tower
Name: kathamndu
Population: 8.9
Landmarks: dharahara