<a href="https://colab.research.google.com/github/Prensu/Data_Science_Prensu/blob/main/coursera_duke_university.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
out = []

for x in range(0, 12, 2):
    out.append(x**2)

print(out)

[0, 4, 16, 36, 64, 100]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

NameError: name 'np' is not defined

In [ ]:
import numpy as np

In [ ]:
x = np.random.randint(1, 30, 10) #so it will print 10 random integers from 1 to 30

In [ ]:
print(x)

[ 8 10  8  8 19  6 11 27  3 16]

In [ ]:
data_df['Salary'].std()

NameError: name 'data_df' is not defined