<a href="https://colab.research.google.com/github/Prensu/Data_Science_Prensu/blob/main/28th_April.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
user= input("Enter your choice")
print("1.Winter season")
print("2.summer season")
print("3.autum season")


if user=="1":
  print("recommended dished for winter season:")
  print("Gundruk soup")

elif user=="2":
  print("recommended dished for summer season:")
  print("masu soup")

elif user=="3":
  print("recommended dished for autum season:")
  print("mango soup")
else:
  print("sorry customerm we dont have recommendation for that selection")

Enter your choice3
1.Winter season
2.summer season
3.autum season
recommended dished for autum season:
mango soup

In [ ]:
#for variable in iterable
#code to be executed

In [ ]:
list=['milk','momo','tea','butter']

for item in list:
  print(item)

milk
momo
tea
butter

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    product=i*j
    print(f"{i} * {j} = {product}")
    print()

1 * 1 = 1

1 * 2 = 2

1 * 3 = 3

2 * 1 = 2

2 * 2 = 4

2 * 3 = 6

3 * 1 = 3

3 * 2 = 6

3 * 3 = 9

In [ ]:
#math=float(input("Enter your marks"))
#science=float(input("Enter your marks"))
#commerce=float(input("Enter your marks"))

#grade=(math+science+commerce)/3

#print(grade)

#for grade in range()

In [ ]:
subject=["maths","Science","English","Nepali"]
weight=[0.3,0.3, 0.2,0.2]
total_marks=0

for i in range(len(subject)):
  subjects=subject[i]
  weights=weight[i]
  mark=float(input(f"Enter the marks obtained in {subjects}:"))
  total_marks+=mark+weights


print(f"Your total mark is {total_marks}")

Enter the marks obtained in maths:96
Enter the marks obtained in Science:65
Enter the marks obtained in English:34
Enter the marks obtained in Nepali:32
Your total mark is 228.0

In [ ]:
78