# **Python Lambda Function**

In [ ]:
# Anonymous function
# is a function defined without a name
# def - normal function
# lambda - keyword


# Characteristics
  # The lamdba function can take many arguments but can return only one expression.
   # The expression is nothing but the result returned by the lamdba function
  # Lamdba function are restricted to return a single expression.
  # You can use them as an anonymous function inside other functions.
  # The lambda function do not need a return statement, they always return a single expression
  # The lamdba function is more powerful and faster than the regular function.

In [ ]:
# lamdba argument: expression

In [ ]:
add = lambda a: a + a
print(add(5))
# lamdba is a keyword and a is an arugument or you can say it as a varibale.
# a + a is the expression, remember that we are trying to add two numbers (a+a)
# we are now just calling a normal function, we shall call teh lambda function with it's variable name and by sending
# 5 as a parameter
# single data output

10

In [ ]:
add = lambda a, b, c: a + b + c
print(add(5, 5, 5))

15

# Adding three numbers using the normal function

In [ ]:
def add(a,b,c):
  return a + b + c
result = add(10,10,10)
print(result)

30

In [ ]:
print(type(result))

<class 'int'>

In [ ]:
add = lambda a, b, c: a + b + c
print(add(10, 10, 10))

30

In [ ]:
print(type(add))

<class 'function'>

In [ ]:
check_even_odd = lambda x: "even" if x % 2 == 0 else "odd"
print(check_even_odd(10))

even

In [ ]:
tuples = [(1,5), (3,8), (2,3), (5, 1)]
sorted_list = sorted(tuples, key = lambda x: x[1])
# it will extracr the second element of each tuple for comparision during the sorting process
print(sorted_list)

[(5, 1), (2, 3), (1, 5), (3, 8)]