In [1]:
persons = ['alfred', 'tabitha', 'william', 'arla']
uppered_persons = []


for person in persons:
    persons_ = person.upper()
    uppered_persons.append(persons_)
    

print(uppered_persons)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [6]:
people=['harry','kane','micky','mouse']
footballers=[]

for person in people:
    c_people=person.upper()
    footballers.append(c_people)
print(footballers)

['HARRY', 'KANE', 'MICKY', 'MOUSE']

In [10]:
people=['harry','kane','micky','mouse']
wtf=list(map(str.upper,people))
print(wtf)

['HARRY', 'KANE', 'MICKY', 'MOUSE']

In [ ]:
#list(map(function,iterable))

In [12]:
circle_areas = [6.56773, 9.57668, 4.00914, 56.24241, 9.01344, 32.00013]


result = list(map(round, circle_areas, range(1,7)))  #round decimal places to round 


print(result)

[6.6, 9.58, 4.009, 56.2424, 9.01344, 32.00013]

In [13]:
my_chars = ['a', 'b', 'c', 'd', 'e']
my_nums = [1,2,3,4,5]


result = list(zip(my_chars, my_nums))


print(result)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [14]:
# Two lists
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

# Use zip to combine the lists
combined = zip(names, ages)

# Convert the zip object to a list to print the result
print(list(combined))

# Outputs: [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

usage of filter

In [15]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65, 92, 85]


def is_A_student(score):
    return score > 80
    

passing = list(filter(is_A_student, scores))


print(passing)

[90, 88, 81, 92, 85]

In [20]:
marks=[33,55,67,89,99,11]
good_marks=list(filter(lambda mark:mark>55,marks))
print(good_marks)

[67, 89, 99]

In [21]:
myStrings = ("demigod", "rewire", "madam", "fortran", "python", "xamarin", "salas", "PHP")


palindromes = list(filter(lambda word: word == word[::-1], myStrings))


print(palindromes)

['madam', 'salas', 'PHP']

In [23]:
words=['php','good','civic','level','madam','aakash', 'mouse','laila','majnu']
wtf=list(filter(lambda word: word == word[::-1],words))
print(wtf)

['php', 'civic', 'level', 'madam']

Reduce

In [24]:
from functools import reduce


myNumbers = [3, 4, 6, 9, 34, 12]


def custom_sum(first, second):
    return first + second
    

result = reduce(custom_sum, myNumbers)
print(result)

68

In [25]:
from functools import reduce 
mero_numbers=[2,10,10,3,4,5]

def custom_mula(a,b):
    return a*b

result=reduce(custom_mula,mero_numbers)
print(result)

12000

In [28]:
from functools import reduce


myNumbers = [10, 4, 5, 4, 2, 1]


def custom_sum(first, second):
    return first*second
    

result = reduce(custom_sum, myNumbers, 10)
print(result)

16000

In [35]:
from functools import reduce


# Use map to print the square of each numbers rounded
# to three decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]



# Use filter to print only the names that are less than
# or equal to seven letters
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]



# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]




# Fix all three respectively.
my=list(map(lambda n:format(n,'.3f'),my_floats))
ff=list(filter(lambda name:len(name)>=7,my_names))
product=reduce(lambda a,b:a*b ,my_numbers)


print(my)
print(ff)
print(product)

['4.350', '6.090', '3.250', '9.770', '2.160', '8.880', '4.590']
['olumide', 'akinremi', 'temidayo', 'omoseun']
24840