In [2]:
import pandas as pd 
df=pd.read_csv('IMDB Dataset.csv')

In [3]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
df.tail()

                                                  review sentiment
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

In [5]:
df['review'][4]

'Petter Mattei\'s "Love in the Time of Money" is a visually stunning film to watch. Mr. Mattei offers us a vivid portrait about human relations. This is a movie that seems to be telling us what money, power and success do to people in the different situations we encounter. <br /><br />This being a variation on the Arthur Schnitzler\'s play about the same theme, the director transfers the action to the present time New York where all these different characters meet and connect. Each one is connected in one way, or another to the next person, but no one seems to know the previous point of contact. Stylishly, the film has a sophisticated luxurious look. We are taken to see how these people live and the world they live in their own habitat.<br /><br />The only thing one gets out of all these souls in the picture is the different stages of loneliness each one inhabits. A big city is not exactly the best place in which human relations find sincere fulfillment, as one discerns is the case with most of the people we encounter.<br /><br />The acting is good under Mr. Mattei\'s direction. Steve Buscemi, Rosario Dawson, Carol Kane, Michael Imperioli, Adrian Grenier, and the rest of the talented cast, make these characters come alive.<br /><br />We wish Mr. Mattei good luck and await anxiously for his next work.'

In [6]:
#convert it to lowercase 
df['review'][4].lower()

'petter mattei\'s "love in the time of money" is a visually stunning film to watch. mr. mattei offers us a vivid portrait about human relations. this is a movie that seems to be telling us what money, power and success do to people in the different situations we encounter. <br /><br />this being a variation on the arthur schnitzler\'s play about the same theme, the director transfers the action to the present time new york where all these different characters meet and connect. each one is connected in one way, or another to the next person, but no one seems to know the previous point of contact. stylishly, the film has a sophisticated luxurious look. we are taken to see how these people live and the world they live in their own habitat.<br /><br />the only thing one gets out of all these souls in the picture is the different stages of loneliness each one inhabits. a big city is not exactly the best place in which human relations find sincere fulfillment, as one discerns is the case with most of the people we encounter.<br /><br />the acting is good under mr. mattei\'s direction. steve buscemi, rosario dawson, carol kane, michael imperioli, adrian grenier, and the rest of the talented cast, make these characters come alive.<br /><br />we wish mr. mattei good luck and await anxiously for his next work.'

In [7]:
#now making the whole data lowercase

In [8]:
df['review']=df['review'].str.lower()

In [9]:
df['review']

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

## Remove the unnecessary html tags

In [10]:
#lets make a text first 
text1 ='<a href="i am good"></a>Hello <br> , My name is prensu  Dangol <p> ! Here i am learning NLP </p>'

In [11]:
#make  a python function 
import re

def remove_html_tags(text):
    # Correct regex pattern
    pattern = re.compile(r'<.*?>')
    # Replace HTML tags with an empty string
    return pattern.sub('', text)

In [12]:
remove_html_tags(text1)

'Hello  , My name is prensu  Dangol  ! Here i am learning NLP '

In [13]:
df['review']=df['review'].apply(remove_html_tags)

In [14]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [15]:
df.tail()

                                                  review sentiment
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

In [16]:
df['review'][3]

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

### In social media handles there may be urls . They may also interrupt your progarm so remove them

In [17]:
import re

def remove_url(text):
    """
    Removes URLs from the given text.

    Args:
        text: The input text string.

    Returns:
        The text string with all URLs removed.
    """
    url_pattern = re.compile(r"(?:http|https|www):\/\/(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*(),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+|(?:www\.)(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*(),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+")
    return url_pattern.sub('', text)

In [18]:
text1 = "Check out my notebook https://www.kaggle.com/visitnepal/notebook8223fc1abb"
text2 = "Check out my notebook http://www.kaggle.com/visitnepal/notebook8223fc1abb"
text3 = "Google search here www.google.com"
text4 = "For notebook click https://www.kaggle.com/visitnepal/notebook8223fc1abb to search check www.google.com"

In [19]:
remove_url(text1)

'Check out my notebook '

In [20]:
remove_url(text2)

'Check out my notebook '

In [21]:
remove_url(text3)

'Google search here '

In [22]:
remove_url(text4)

'For notebook click  to search check '

In [23]:
import string,time 
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
exclude=string.punctuation

In [25]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, "") 
    return text

In [26]:
text='string .With Punctuation'

#### Following code is just to measure time for processing

In [27]:
import time

start=time.time()
print(remove_punc(text))
time1=time.time() -start
print(time1*50000)

string With Punctuation
0.0

In [28]:
import string 
exclude =string.punctuation

In [29]:
def remove_punc1(text):
   return text.translate(str.maketrans('','',exclude))

In [30]:
df=pd.read_csv('train.csv')

In [31]:
df.head()

,count,hate_speech_count,offensive_language_count,neither_count,class,tweet
0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [32]:
df['tweet']=df['tweet'].apply(remove_punc1)

In [33]:
df[['tweet']]

                                                   tweet
0       RT mayasolovely As a woman you shouldnt compl...
1       RT mleew17 boy dats coldtyga dwn bad for cuff...
2       RT UrKindOfBrand Dawg RT 80sbaby4life You eve...
3         RT CGAnderson vivabased she look like a tranny
4       RT ShenikaRoberts The shit you hear about me ...
...                                                  ...
24778  yous a muthafin lie 8220LifeAsKing 20Pearls co...
24779  youve gone and broke the wrong heart baby and ...
24780  young buck wanna eat dat nigguh like I aint fu...
24781              youu got wild bitches tellin you lies
24782  Ruffled  Ntac Eileen Dahlia  Beautiful color c...

[24783 rows x 1 columns]

In [34]:
df['tweet'][13]

' bad bitches is the only thing that i like '

### Chatword Treatment

In [35]:
chat_words = {
    "AFAIK": "As Far As I Know",
    "AFK": "Away From Keyboard",
    "ASAP": "As Soon As Possible",
    "ATK": "At The Keyboard",
    "ATM": "At The Moment",
    "A3": "Anytime, Anywhere, Anyplace",
    "BAK": "Back At Keyboard",
    "BBL": "Be Back Later",
    "BBS": "Be Back Soon",
    "BFN": "Bye For Now",
    "B4N": "Bye For Now",
    "BRB": "Be Right Back",
    "BRT": "Be Right There",
    "BTW": "By The Way",
    "B4": "Before",
    "CU": "See You",
    "CUL8R": "See You Later",
    "CYA": "See You",
    "FAQ": "Frequently Asked Questions",
    "FC": "Fingers Crossed",
    "FWIW": "For What It's Worth",
    "FYI": "For Your Information",
    "GAL": "Get A Life",
    "GG": "Good Game",
    "GN": "Good Night",
    "GMTA": "Great Minds Think Alike",
    "GR8": "Great!",
    "G9": "Genius",
    "IC": "I See",
    "ICQ": "I Seek you (also a chat program)",
    "ILU": "I Love You",
    "IMHO": "In My Honest/Humble Opinion",
    "IMO": "In My Opinion",
    "IOW": "In Other Words",
    "IRL": "In Real Life",
    "KISS": "Keep It Simple, Stupid",
    "LDR": "Long Distance Relationship",
    "LMAO": "Laugh My A.. Off",
    "LOL": "Laughing Out Loud",
    "LTNS": "Long Time No See",
    "L8R": "Later",
    "MTE": "My Thoughts Exactly",
    "M8": "Mate",
    "NRN": "No Reply Necessary",
    "OIC": "Oh I See",
    "PITA": "Pain In The A..",
    "PRT": "Party",
    "PRW": "Parents Are Watching",
    "QPSA?": "Que Pasa?",
    "ROFL": "Rolling On The Floor Laughing",
    "ROFLOL": "Rolling On The Floor Laughing Out Loud",
    "ROTFLMAO": "Rolling On The Floor Laughing My A.. Off",
    "SK8": "Skate",
    "STATS": "Your sex and age",
    "ASL": "Age, Sex, Location",
    "THX": "Thank You",
    "TTFN": "Ta-Ta For Now!",
    "TTYL": "Talk To You Later",
    "U": "You",
    "U2": "You Too",
    "U4E": "Yours For Ever",
    "WB": "Welcome Back",
    "WTF": "What The F...",
    "WTG": "Way To Go!",
    "WUF": "Where Are You From?",
    "W8": "Wait...",
    "7K": "Sick:-D Laugher",
    "TFW": "That feeling when. TFW internet slang often goes in a caption to an image.",
    "MFW": "My face when",
    "MRW": "My reaction when",
    "IFYP": "I feel your pain",
    "TNTL": "Trying not to laugh",
    "JK": "Just kidding",
    "IDC": "I don’t care",
    "ILY": "I love you",
    "IMU": "I miss you",
    "ADIH": "Another day in hell",
    "ZZZ": "Sleeping, bored, tired",
    "WYWH": "Wish you were here",
    "TIME": "Tears in my eyes",
    "BAE": "Before anyone else",
    "FIMH": "Forever in my heart",
    "BSAAW": "Big smile and a wink",
    "BWL": "Bursting with laughter",
    "BFF": "Best friends forever",
    "CSL": "Can’t stop laughing"
}

In [36]:
chat_words

{'AFAIK': 'As Far As I Know',
 'AFK': 'Away From Keyboard',
 'ASAP': 'As Soon As Possible',
 'ATK': 'At The Keyboard',
 'ATM': 'At The Moment',
 'A3': 'Anytime, Anywhere, Anyplace',
 'BAK': 'Back At Keyboard',
 'BBL': 'Be Back Later',
 'BBS': 'Be Back Soon',
 'BFN': 'Bye For Now',
 'B4N': 'Bye For Now',
 'BRB': 'Be Right Back',
 'BRT': 'Be Right There',
 'BTW': 'By The Way',
 'B4': 'Before',
 'CU': 'See You',
 'CUL8R': 'See You Later',
 'CYA': 'See You',
 'FAQ': 'Frequently Asked Questions',
 'FC': 'Fingers Crossed',
 'FWIW': "For What It's Worth",
 'FYI': 'For Your Information',
 'GAL': 'Get A Life',
 'GG': 'Good Game',
 'GN': 'Good Night',
 'GMTA': 'Great Minds Think Alike',
 'GR8': 'Great!',
 'G9': 'Genius',
 'IC': 'I See',
 'ICQ': 'I Seek you (also a chat program)',
 'ILU': 'I Love You',
 'IMHO': 'In My Honest/Humble Opinion',
 'IMO': 'In My Opinion',
 'IOW': 'In Other Words',
 'IRL': 'In Real Life',
 'KISS': 'Keep It Simple, Stupid',
 'LDR': 'Long Distance Relationship',
 'LMAO': 'Laugh My A.. Off',
 'LOL': 'Laughing Out Loud',
 'LTNS': 'Long Time No See',
 'L8R': 'Later',
 'MTE': 'My Thoughts Exactly',
 'M8': 'Mate',
 'NRN': 'No Reply Necessary',
 'OIC': 'Oh I See',
 'PITA': 'Pain In The A..',
 'PRT': 'Party',
 'PRW': 'Parents Are Watching',
 'QPSA?': 'Que Pasa?',
 'ROFL': 'Rolling On The Floor Laughing',
 'ROFLOL': 'Rolling On The Floor Laughing Out Loud',
 'ROTFLMAO': 'Rolling On The Floor Laughing My A.. Off',
 'SK8': 'Skate',
 'STATS': 'Your sex and age',
 'ASL': 'Age, Sex, Location',
 'THX': 'Thank You',
 'TTFN': 'Ta-Ta For Now!',
 'TTYL': 'Talk To You Later',
 'U': 'You',
 'U2': 'You Too',
 'U4E': 'Yours For Ever',
 'WB': 'Welcome Back',
 'WTF': 'What The F...',
 'WTG': 'Way To Go!',
 'WUF': 'Where Are You From?',
 'W8': 'Wait...',
 '7K': 'Sick:-D Laugher',
 'TFW': 'That feeling when. TFW internet slang often goes in a caption to an image.',
 'MFW': 'My face when',
 'MRW': 'My reaction when',
 'IFYP': 'I feel your pain',
 'TNTL': 'Trying not to laugh',
 'JK': 'Just kidding',
 'IDC': 'I don’t care',
 'ILY': 'I love you',
 'IMU': 'I miss you',
 'ADIH': 'Another day in hell',
 'ZZZ': 'Sleeping, bored, tired',
 'WYWH': 'Wish you were here',
 'TIME': 'Tears in my eyes',
 'BAE': 'Before anyone else',
 'FIMH': 'Forever in my heart',
 'BSAAW': 'Big smile and a wink',
 'BWL': 'Bursting with laughter',
 'BFF': 'Best friends forever',
 'CSL': 'Can’t stop laughing'}

In [37]:
def chat_conversion(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [38]:
chat_conversion('Trying not to')

'Trying not to'

In [39]:
# Sample chat message with slang
sample_text = "OMG IDK what to say LOL. BTW, I'll BRB ASAP."

# Use the chat_conversion function
converted_text = chat_conversion(sample_text)

# Print the converted text
print("Original text:", sample_text)
print("Converted text:", converted_text)

Original text: OMG IDK what to say LOL. BTW, I'll BRB ASAP.
Converted text: OMG IDK what to say LOL. BTW, I'll Be Right Back ASAP.

In [40]:
sample_text1 = "BRB, need to AFK for a bit. TTYL!"
converted_text1 = chat_conversion(sample_text1)
print("Original text:", sample_text1)
print("Converted text:", converted_text1)

Original text: BRB, need to AFK for a bit. TTYL!
Converted text: BRB, need to Away From Keyboard for a bit. TTYL!

### Spelling correction

-Its important during tokenization ! Different spelling means different tokens which create problems

In [41]:
from textblob import TextBlob

In [42]:
incorrect_text ='i am havng several ceertain conndittions durng are modfied'

In [43]:
textBlb=TextBlob(incorrect_text)
textBlb.correct().string

'i am having several certain conditions during are modified'

## StopWords

In [50]:
remove_stopwords()

'hello,i coming today . Because sick ! Will discuss tomorrow ?'

In [55]:


def remove_stopwords(text):
    """
    Removes stopwords from the given text.

    Args:
        text: The input text string.

    Returns:
        The text string with stopwords removed.
    """
    new_text = []
    stop_words = set(stopwords.words('english'))  # Using a set for faster lookups
    for word in text.split():
        if word.lower() in stop_words:
            continue
        else:
            new_text.append(word)
    return " ".join(new_text)

# Example Usage
text = "This is a simple example to test the stopword removal function."
result = remove_stopwords(text)
print(result)

simple example test stopword removal function.