 <span style="font-family: 'Arial'; font-size: 24px; font-weight: bold; background-color: yellow; color: black; padding: 5px;">TF-Term Frequency 
IDF - Inverse document frequency </span>

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.DataFrame({'text':['people watch campusx','campusx watch campusx','people write comment','campusx write comment'],'output':[1,1,0,0]})

In [3]:
df

                    text  output
0   people watch campusx       1
1  campusx watch campusx       1
2   people write comment       0
3  campusx write comment       0

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
tfidf.fit_transform(df['text']).toarray()  ##.toarray() is because it calls sparsh array so we have to convert it using numpy array

array([[0.49681612, 0.        , 0.61366674, 0.61366674, 0.        ],
       [0.8508161 , 0.        , 0.        , 0.52546357, 0.        ],
       [0.        , 0.57735027, 0.57735027, 0.        , 0.57735027],
       [0.49681612, 0.61366674, 0.        , 0.        , 0.61366674]])

In [10]:
print(tfidf.idf_)
print(tfidf.get_feature_names_out())

[1.22314355 1.51082562 1.51082562 1.51082562 1.51082562]
['campusx' 'comment' 'people' 'watch' 'write']

#Interview Question 
=> Why do you take log during the calculation of tfidf

-so less frequent words will become very large to reduce it we use log